{% load staticfiles %}
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/favicon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Login Page - Now Ui Kit by Creative Tim</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/now-ui-kit.css' %}" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="{% static 'assets/css/demo.css' %}" rel="stylesheet" />
</head>

<body class="login-page sidebar-collapse">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent " color-on-scroll="400">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="index.html" rel="tooltip" title="Designed by Invision. Coded by Creative Tim" data-placement="bottom">
                   <img src="{% static 'assets/img/logo-white.png' %}" />
                </a>
                <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="{% static '../assets/img/blurred-image-1.jpg' %}">
                <ul class="navbar-nav">
                    <!--<li class="nav-item">-->
                        <!--<a class="nav-link" href="your-requirements.html">-->
                            <!--<i class="now-ui-icons files_paper"></i>-->
                            <!--<p>Join Us</p>-->
                        <!--</a>-->
                    <!--</li>-->
                    <li class="nav-item">
                        <div class="dropdown">
                            <a href="#pablo" class="btn btn-neutral dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink1"><i class="now-ui-icons objects_spaceship"></i>Our Services
    </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                                <a class="dropdown-item">UI/UX Design</a>
                                <a class="dropdown-item">Software Development</a>
                                <a class="dropdown-item">Digital Marketing</a>
                                <a class="dropdown-item">Content Development</a>
                                <a class="dropdown-item">Consulting</a>
                                <a class="dropdown-item">Search Engine Optimization</a>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="Connect" data-placement="bottom" href="https://www.linkedin.com/company/13398460/" target="_blank">
                            <i class="fa fa-linkedin"></i>
                            <p class="d-lg-none d-xl-none">Linkedin</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/socialboutique.in" target="_blank">
                            <i class="fa fa-facebook-square"></i>
                            <p class="d-lg-none d-xl-none">Facebook</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/socialboutique.in/" target="_blank">
                            <i class="fa fa-instagram"></i>
                            <p class="d-lg-none d-xl-none">Instagram</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <div class="page-header" filter-color="orange">
        <div class="page-header-image" style="background-image:url(../static/assets/img/login.jpg)"></div>
        <div class="container">
            <div class="col-md-12 content-center">
                <div class="card card-login card-plain">
                    <form action="" method="post">{% csrf_token %}
                        <div class="col-lg-12 text-center col-md-12 ml-auto mr-auto">
                            <div class="input-group input-lg">
                                <span class="input-group-addon">
                                    <i class="now-ui-icons users_circle-08"></i>
                                </span>
                                <input type="text" name="name" class="form-control" placeholder="First Name...">
                            </div>
                            <div class="input-group input-lg">
                                <span class="input-group-addon">
                                    <i class="now-ui-icons ui-1_email-85"></i>
                                </span>
                                <input type="text" name="email" class="form-control" placeholder="Email...">
                            </div>
                            <div class="textarea-container">
                                <textarea class="form-control" name="message" rows="4" cols="80" placeholder="Type a message..."></textarea>
                            </div>
                            <div class="send-button">
                                <button type="submit" id="submit" name="submit" class="btn btn-primary btn-round btn-block btn-lg">Send Message</button>
                            </div>
                            <div class="col-md-12 text-center">
                                {% for message in messages %}
                                    <p>{{ message }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
       <footer class="footer" data-background-color="black">
            <div class="container">
                <nav>
                    <ul>
                        <li>
                            <a href="#">
                                Blog
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Your Requirements
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Join socialBoutique
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())

                    </script>
                    It's time to craft Brilliance together!
                    <a href="http://www.socialboutique.in" target="_blank">Social Boutique</a>.
                </div>
            </div>
        </footer>
    </div>
</body>
<!--   Core JS Files   -->
<script src="{% static 'assets/js/core/jquery.3.2.1.min.js' %}" type="text/javascript"></script>
<script src="" type="text/javascript"></script>
<script src="{% static 'assets/js/core/popper.min.js' %}assets/js/core/bootstrap.min.js" type="text/javascript"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="{% static 'assets/js/plugins/bootstrap-switch.js' %}"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="{% static 'assets/js/plugins/nouislider.min.js' %}" type="text/javascript"></script>
<!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
<script src="{% static 'assets/js/plugins/bootstrap-datepicker.js' %}" type="text/javascript"></script>
<!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
<script src="{% static 'assets/js/now-ui-kit.js' %}" type="text/javascript"></script>

</html>